* {
	box-sizing: border-box;
}

button:focus-visible {
	outline: none;
}

input:focus-visible {
	outline: none;
	box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "Quicksand";
	padding: 0;
	margin: 0;
}
 h1 {
	font-size: 30px;
	line-height: 38px;
	font-weight: 600;
	color: #101212;
}


ul,
li,
ol,
p {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	/* display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-style: normal; */
	font-family: "Inter";
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
	image-rendering: -webkit-optimize-contrast;
	transform-style: preserve-3d;
}

*:focus {
	outline: none;
}

.container {
	width: 1280px;
	margin: 0 auto;
	display: table;
}



/******************************** Header********************************/
.header {
	width: 100%;
	display: block;
	border-bottom: 1px solid #F0F0F0;
}

.navbar-light .navbar-nav .nav-item {
	margin-right: 25px;
}

.navbar-light .navbar-nav .nav-item:last-child {
	margin-right: 0;
}

.navbar-light .navbar-nav .nav-item .active {
	color: #5F2DED;
	font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
	line-height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins';
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #5F2DED;
}

.btn-primary {
	background: #5F2DED;
	padding: 12px 20px;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	border: none;
	border-radius: 3px;
}

:not(.btn-check)+.btn:active {
	background: #5223d3;
}

.btn-primary:hover {
	background: #5223d3;
}

.btn-outline-dark {
	padding: 12px 20px;
	font-weight: 600;
	font-size: 14px;
	border-radius: 3px;
	line-height: 18px;
	border: 1px solid #5F7AA326
}

/******************************** Footer********************************/
.footer {
	width: 100%;
	display: block;
	background: #F2F5FF;
	margin-top: 150px;
	position: relative;
}

.footer .footer-bg2 {
	position: absolute;
	bottom: -2%;
	left: 0px;
	width: 60px;
}

.footer .banner-bg3 {
	position: absolute;
	bottom: 40%;
	left: 70px;
	width: 35px;
}

.footer .banner-bg4 {
	position: absolute;
	top: 20%;
	left: 70px;
	width: 25px;
}

.footer .footer-bg1 {
	position: absolute;
	top: 25%;
	right: 10px;
	width: 100px;
}

.footer .footer-bg3 {
	position: absolute;
	bottom: 7%;
	right: 55px;
	width: 65px;
}

.footer .footer-bg4 {
	position: absolute;
	bottom: 40%;
	right: 20px;
}

.footer .footer-top {
	background: #5F2DED;
	margin-top: -140px;
	border-radius: 12px;
}

.footer .footer-top  span {
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 22px;
}

.footer .footer-top h2 {
	font-size: 34px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 40px;
}
.footer .footer-top form {
	background: #fff;
	padding: 6px 10px;
	position: relative;
  }
  
  .footer .footer-top form input[type=email] {
	border: 0;
	padding: 8px;
	width: calc(100% - 25px);
  }
  
  .footer .footer-top form input[type=submit] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	font-size: 16px;
	padding: 0 30px;
	margin: 3px;
	background: #5F2DED;
	color: #fff;
	transition: 0.3s;
  }
  
  .footer .footer-top form input[type=submit]:hover {
	background: #5223d3;
  }



.footer .footer-middle {
	padding-top: 5%;
	padding-bottom: 40px;
}

.footer .footer-middle .footer-menu {
	display: inline-block;
	margin-right: 0;
}

.footer .footer-middle .footer-menu h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #16171A;
	margin-bottom: 30px;
}

.footer .footer-middle .footer-menu p {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #16171A;
	margin-bottom: 30px;
}

.footer .footer-middle .footer-menu .addres-bar {
	display: inline-block;
}

.footer .footer-middle .footer-menu .addres-bar ul li {
	display: inline-block;
	font-family: "Inter", ;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #16171A;
	margin-bottom: 10px;
	list-style: none;
}

.footer .footer-middle .footer-menu .addres-bar ul li a {
	display: inline-block;
	font-family: "Inter", ;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	color: #16171A;
}

.footer .footer-middle .footer-menu .addres-bar ul li span {
	background: #5F2DED;
	border-radius: 30px;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 4px;
}

.footer .footer-middle .footer-menu .addres-bar ul li span i {
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	padding: 14px;
}

.footer .footer-middle .footer-menu ul li {
	display: block;
	font-family: 'Poppins';
	margin-bottom: 10px;
	list-style: none;
}

.footer .footer-middle .footer-menu ul li a {
	display: inline-block;
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #16171A;
	text-decoration: none;
}

.footer .footer-middle .footer-menu ul li .recent-post .recent-post-image {
	width: 70px;
	height: 70px;
}

.footer .footer-middle .footer-menu ul li .recent-post .recent-post-content {
	margin-left: 10px;
}

.footer .footer-middle .footer-menu ul li .recent-post .recent-post-content span {
	display: block;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #474960;
}

.footer .footer-middle .footer-menu ul li .recent-post .recent-post-content label {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #16171A;
}

.footer-bottom {
	background: #1B1D2017;
}


.footer-bottom .social-links a{
	background: #BFBFBF;
	border-radius: 30px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	color: #5F2DED;
	margin: 0 7px;
}

/******************************** Boddy********************************/
.main-banner {
	position: relative;
}

.main-banner .banner-bg1 {
	position: absolute;
	top: 192px;
	left: 110px;
	width: 170px;
}

.main-banner .banner-bg2 {
	position: absolute;
	top: 30px;
	left: 38%;
}

.main-banner .banner-bg3 {
	position: absolute;
	bottom: 100px;
	left: 55px;
	width: 40px;
}

.main-banner .banner-bg4 {
	position: absolute;
	top: 26%;
	left: 4%;
}

.main-banner .banner-bg5 {
	position: absolute;
	top: 50%;
	right: 5%;
	width: 40px;
}

.main-banner .banner-bg6 {
	position: absolute;
	top: 78%;
	right: 7%;
}

.main-banner .banner-bg7 {
	position: absolute;
	top: 28%;
	right: 25%;
	width: 20px;
}

.main-banner .banner-bg8 {
	position: absolute;
	top: 27%;
	right: 10%;
}

.banner-content h2 {
	font-size: 38px;
	line-height: 48px;
	font-weight: 600;
	color: #000000;
	letter-spacing: 0.9px;
}

.banner-content h2 em,
.how-it-works h1 em,
.banner-content p em,
.crafting-content .heading h2 em,
.required-title em {
	font-style: normal;
	position: relative;
	z-index: 1;
}

.banner-content h2 em::after,
.how-it-works h1 em::after,
.banner-content p em::after,
.crafting-content .heading h2 em::after,
.required-title em::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 7px;
	height: 5px;
	background: #FFB000;
	z-index: -1;
}

.banner-content p {
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	color: #677294;
}

.banner-content p em::after {
	bottom: 0px;
	height: 4px;
	background: #5F2DED4D;
}

.banner-content ul li {
	list-style: none;
}

.banner-content ul li .checkicon {
	width: 20px;
	margin-right: 10px;
}

.banner-content ul li label {
	font-size: 17px;
	line-height: 22px;
	font-weight: 500;
	color: #000000;
	font-family: 'Quicksand';
}

.how-it-works {
	background: #FBF9FF;
	position: relative;
}

.how-it-works .list-group {
	border: 1px solid #5F7AA326;
	border-radius: 3px;
}

.how-it-works .list-group .list-group-item {
	color: #101212;
	padding: 12px 15px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	border: none;
	font-family: 'Inter';
	border-radius: 0;
	background-color: transparent;
}

.crafting-excellence .list-group .list-group-item {
	border-right: 1px solid #5F7AA326;
}

.crafting-excellence .list-group .list-group-item:last-child {
	border-right: 0;
}

.how-it-works .list-group .list-group-item:hover {
	color: #FFFFFF;
	background: #5F2DED;
}

.how-it-works .list-group .list-group-item.active {
	border: none;
	border-radius: 0;
	color: #FFFFFF;
	background: #5F2DED;
}

.how-it-works-image {
	position: relative;
}

.how-it-works-image .line-bg {
	position: absolute;
	top: 60%;
	left: -52px;
	width: 100px;
}

.how-it-works-image .banner-bg9 {
	position: absolute;
	top: 78%;
	right: -5%;
}

.how-it-works .banner-bg4 {
	position: absolute;
	top: 120px;
	right: 6%;
}

.how-it-works .banner-bg5 {
	position: absolute;
	top: 50px;
	left: 12%;
	width: 30px;
}



.how-it-works h1 em::after {
	bottom: 5px;
}

.how-it-works .built-in-service {
	position: relative;
}

.how-it-works .built-in-service .banner-bg3 {
	position: absolute;
	bottom: 0%;
	right: 5%;
	width: 40px;
}

.how-it-works .built-in-service h3 {
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
	color: #101212;
	margin-bottom: 30px;
}

.how-it-works .built-in-service .service-lifecycle .service-menu h4 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #101212;
	font-family: 'Inter';
}

.how-it-works .built-in-service .service-lifecycle .service-menu ul {
	padding: 15px 0 0 15px;
	margin: 0 0 0 15px;
	position: relative;
}

.how-it-works .built-in-service .service-lifecycle .service-menu ul::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	background: #5F2DED;
	height: 95%;
}

.how-it-works .built-in-service .service-lifecycle .service-menu ul li {
	width: 100%;
	display: block;
	padding: 0 0 15px 0;
	margin: 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #101212;
	position: relative;
}

.how-it-works .built-in-service .service-lifecycle .service-menu ul li::before {
	content: "";
	position: absolute;
	top: 9px;
	left: -15px;
	width: 15px;
	height: 2px;
	background: #5F2DED;
}

.how-it-works .built-in-service .service-lifecycle .service-menu ul li i {
	color: #43CD93;
	font-size: 20px;
}

.how-it-works .built-in-service .service-lifecycle .service-menu ul li:last-child {
	padding-bottom: 0;
}

.how-it-works .built-in-service .service-lifecycle .service-menu ul li .service-sub-menu ul {
	width: 100%;
	display: block;
	padding: 15px 0 0 15px;
	margin: 0 0 0 25px;
}

.how-it-works .built-in-service .service-lifecycle .service-menu ul li .service-sub-menu ul::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	background: #FFB000;
	height: 95%;
}

.how-it-works .built-in-service .service-lifecycle .service-menu ul li .service-sub-menu ul li {
	width: 100%;
	display: block;
	padding: 0 0 15px 0;
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #101212;
	position: relative;
}

.how-it-works .built-in-service .service-lifecycle .service-menu ul li .service-sub-menu ul li:last-child {
	padding-bottom: 0;
}

.how-it-works .built-in-service .service-lifecycle .service-menu ul li .service-sub-menu ul li::before {
	content: "";
	position: absolute;
	top: 9px;
	left: -15px;
	width: 15px;
	height: 2px;
	background: #FFB000;
}

.our-products {
	width: 100%;
	margin-bottom: 200px;
}

/* .our-products h1 {
	font-size: 30px;
	line-height: 38px;
	font-weight: 600;
	color: #101212;
} */

.products-boxs {
	display: inline-flex;
	border: 1px solid #E5E5E5;
}

.products-boxs .products-box {
	padding: 10px 15px;
	width: 25%;
	height: 250px;
	border-right: 1px solid #E5E5E5;
	display: grid;
	align-items: center;
	justify-content: space-between;
}

.products-boxs .products-box:last-child {
	border-right: 0;
}

.products-boxs .products-box .products-bg {
	position: relative;
	width: 125px;
}

.products-boxs .products-box .products-bg .products-image {
	position: absolute;
	top: 12px;
	left: 30px;
	width: 40px;
}

.products-boxs .products-box h4 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: #000000;
}

.products-boxs .products-box p {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #8B8F96;
	margin-top: 10px;
	margin-bottom: 20px;
}

.products-boxs .products-box a {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.04em;
	color: #8E54E9;
	text-decoration: none;
}

.blocks-section {
	position: relative;
}

.blocks-section .block-bg2 {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 75px;
}

.blocks-section .block-bg3 {
	position: absolute;
	bottom: 25px;
	left: 0;
	width: 86px;
}

.blocks-inner-content {
	display: block;
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.blocks-inner-content .block-bg1 {
	position: absolute;
	top: -20px;
	left: -30px;
	width: 50px;
}

.blocks-inner-content .banner-bg9 {
	position: absolute;
	top: 95px;
	right: -20px;
	width: 50px;
}

.blocks-inner-content .banner-bg5 {
	position: absolute;
	top: 150px;
	left: 10px;
	width: 30px;
}

.block-head {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.block-head h2 {
	font-size: 65px;
	line-height: 70px;
	font-weight: 700;
	color: #101212;
}

.block-head .without-blocks .blocks-image {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.block-head .without-blocks h3 {
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
	color: #101212;
}

.blocks-management {
	width: 100%;
	display: block;
	position: relative;
}

.blocks-management .banner-bg3 {
	position: absolute;
	bottom: 30px;
	right: -60px;
	width: 45px;
}

.blocks-management-content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.blocks-management-content .required-effort {
	width: 100%;
	display: block;
}

.blocks-management-content .required-effort .required-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	color: #101212;
}

.blocks-management-content .required-effort .required-title em::after {
	bottom: 2px;
	background: #41CC91;

}

.blocks-management-content .required-effort .count-box {
	height: 65px;
	font-size: 34px;
	font-weight: 700;
	line-height: 65px;
	border-radius: 50px;
	color: #FFFFFF;
	background: #DC4C4C;
	margin: 0 40px 20px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

.blocks-management-content .required-effort .green {
	background: #41CC91;
}

.common-services {
	position: absolute;
	top: 15px;
	left: 0;
	height: 270px;
	right: 0;
	padding: 20px;
	width: 30%;
	background: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	margin: 0 auto;
	display: grid;
	align-items: center;
	justify-content: space-between;
}

.common-services label {
	display: block;
	font-size: 22px;
	line-height: 26px;
	font-weight: 700;
	font-family: 'Quicksand';
}

.crafting-excellence {
	width: 100%;
	display: block;
	background: #FBF9FF;
}

.crafting-content .heading span {

	font-family: 'Inter';
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #5F2DED;
	text-transform: uppercase;
}

.crafting-content .heading h2 {
	font-size: 30px;
	font-weight: 600;
	line-height: 36px;
	color: #101212;
}

.crafting-content ul li .discovery-research .discovery-content h4 {
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	color: #101212;
	margin-bottom: 8px;
}

.crafting-content ul li .discovery-research .discovery-content p {
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	color: #677294;
}

.crafting-content .btn-primary {
	padding: 12px 30px;
	float: left;
	margin-left: 95px;
}

.crafting-content ul li .discovery-research .discovery-image {
	width: 80px;
	height: 50px;
	min-width: 80px;
	border-radius: 25px;
	transform: rotate(-35deg);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.crafting-content ul li .discovery-research .concept {
	background: #FFF6F6;
	border: 1px solid #FFCED0
}

.crafting-content ul li .discovery-research .research {
	background: #FFFFFF;
	border: 1px solid #E2D9FC
}

.crafting-content ul li .discovery-research .implementation {
	background: #FAF8FE;
	border: 1px solid #E2D9FC
}

.crafting-content ul li .discovery-research .concept img {
	transform: rotate(35deg);
}

.crafting-content ul li .discovery-research .research img {
	transform: rotate(80deg);
}