.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button:hover{
opacity: 0.8;
}

/* commoms */
.primary_btn{
  color: #F5F5F5;
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;



width: 11.875rem;
height: 3.4375rem;

flex-shrink: 0;
border: none;
border-radius: 6.25rem;
background: #666AE5;
}

.sec_headings{
  color: #1D1D1D;
font-family: Poppins;
font-size: 2.8125rem;
font-style: normal;
font-weight: 700;
line-height: 4.375rem;
text-transform: capitalize;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* commot class */
.Container{
  max-width: 89.03vw;
padding-inline: 5.985vw;
}
.WhyChooseUs{
  width: 84.03vw;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
}
.header_Wrappper{


}
.header{
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  
  top: 0;

  
}
.header , .header nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.56rem;
}

.header nav li a {
  color: #202020;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login-btn{
  background-color: transparent;
  border: none;
  color: #202020;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.get_in_Touch{
  display: inline-flex;
padding: 1rem 2rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
border-radius: 6.25rem;
background: #666AE5;

color: #F5F5F5;
font-family: Poppins;
font-size: 0.7rem;
font-style: normal;
font-weight: 800;
line-height: 0.625rem; /* 62.5% */
text-transform: uppercase;

border: none;
}

.service_txt{
color: #202020;

font-family: Poppins;
font-size: 2.25rem;
font-style: normal;
font-weight: 700;
line-height: 3.125rem;
text-transform: capitalize;
}


.footer_h1{
  color: #FFF;
font-family: Poppins;
font-size: 3.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.footer_span{
  color: #FFF;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer_btns button:nth-child(1){
  width: 15.625rem;
  height: 3.75rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
background: #FFF;

color: #040404;
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 0.9375rem; /* 83.333% */
border: none;

}

.footer_btns button:nth-child(2){
  width: 15.625rem;
  height: 3.75rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #2A9BED;
  color: #FFF;
border: none;
  font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 0.9375rem; /* 83.333% */
}

.line{
  width: 101.25rem;
height: 0rem;
flex-shrink: 0;
stroke-width: 1px;
stroke: #FFF;
}

li , a , button{
  cursor: pointer;
}
footer ul{
  list-style: none;
  color: #FFF;
font-family: Poppins;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 1.5625rem; /* 178.571% */
}



/* marketing-sec */
.marketing-sec{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height:53.875rem ;
}
.marketing-sec div{
width: 50%;
display: flex;
flex-direction: column;
gap: 3.23rem;
justify-content: center;

}
.marketing-left h2{
  color: #202020;
  font-family: Poppins;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem; /* 138.889% */
  text-transform: capitalize;
}


.marketing-text-list{

width: 100%;

  color: #202020;
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 0.9375rem; /* 83.333% */
text-transform: capitalize;
display: flex;
flex-direction: column;
gap: 3rem;
}

.col-sec{
  display: flex;
}

.col-sec div{
width: 50%;
height: 100%;
background-color: green;
display: flex;
justify-content: end;
}


.how-its-work-text-box-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: 43.0625rem; */
}
.how-its-work-text-box{
  display: flex;
  flex-direction: column;
  gap: 0.62rem;

}

.how-its-work-text-box::before{
 
}
.how-its-work-text-box span:nth-child(1){
  color: var(--Brand, #666AE5);
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 3.125rem; /* 208.333% */
text-transform: capitalize;
}
.how-its-work-text-box span:nth-child(2){color: #171717;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 166.667% */
  text-transform: capitalize;
}



/* why choose us sec */
.choose_box_wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.choose_box{
  /* width: 42.875rem; */
  width: 100%;
flex-shrink: 0;
border-radius: 0.625rem;
background: #FDE3C7;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
gap: 0.75rem;
padding-top: 1rem;
padding-left: 1.38rem;
padding-right: 0.6rem;
padding-bottom: 1rem;
}
.choose_box span:nth-child(1){
  color: var(--Black, #202020);
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 1.5rem; /* 100% */
text-transform: capitalize;
}
.choose_box span:nth-child(2){
  color: #303030;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  text-transform: capitalize;
}



/* footer sec */
.footer_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.footer_header span:nth-child(1){
  margin-top: 5.5rem;
  color: #FFF;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer_header span:nth-child(2){
  color: #FFF;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_btns{
  width: 15.625rem;
height: 3.75rem;
flex-shrink: 0;
border-radius: 0.625rem;
font-family: Poppins;
font-size: 1.125rem;
border: none;
font-style: normal;
font-weight: 600;
line-height: 0.9375rem; /* 83.333% */
}
.footer_btns:nth-child(1){
  background: #FFF;
  color: #040404;
}
.footer_btns:nth-child(2){
  background: #2A9BED;
  color: #FFF;

}
.footer_devider{
  width: 101.25rem;
height: 0rem;
flex-shrink: 0;
border: 1px solid #FFF;
}



/* what we offer compine */

.offer_sec div{
 width: 33%;
}

.offer_sec div:nth-child(3) p{
  color: #000;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.875rem; /* 187.5% */
}

.offer_sec div:nth-child(3){
  display: flex;
  flex-direction: column;
  gap:4.6rem;
  justify-content: center;
}


/* offer btns */
.Customizable_btn{
  display: flex;
  width: 32.625rem;
  height: 5.5rem;
  padding: 1.375rem;
  align-items: center;
  gap: 1.875rem;
  border-radius: 0.625rem;
border: 1.5px solid #000;
background: #F39CAD;

color: #000;
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 100% */
text-transform: capitalize;
}


.Customizable_btn2{
  background-color: #D4FADA;
  color: #000;
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 100% */
text-transform: capitalize;
border-radius: 0.625rem;

display: flex;
width: 32.625rem;
height: 5.5rem;
padding: 1.375rem;
align-items: center;
gap: 1.875rem;

}
.Customizable_btn3{
  color: #000;

  font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 100% */
text-transform: capitalize;
border-radius: 0.625rem;

display: flex;
width: 32.625rem;
height: 5.5rem;
padding: 1.375rem;
align-items: center;
gap: 1.875rem;
background-color: #FDE3C7;

}
.line1{
  width: 100%;
height: 0rem;
flex-shrink: 0;
border: 1px solid #CACACA;

}



/* marketig sec */

.marketing_headings{
  color: #202020;
font-family: Poppins;
font-size: 2.25rem;
font-style: normal;
font-weight: 700;
line-height: 3.125rem; /* 138.889% */
text-transform: capitalize;
}
.marketing_para{
  color: #202020;
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 0.9375rem; /* 83.333% */
text-transform: capitalize;
}

